# Environnement virtuel
venv/
env/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers de configuration
*.env
*.ini
*.cfg

# Fichiers de données
*.db
*.sqlite3
